.container {
    display: flex;
    position: relative;
    margin: 3em auto;
    overflow: hidden;
    width: 32.5em;
    height: 16.25em;
    background: #f1f3f5;
    box-shadow: 5px 5px 15px rgba(#3c3c3b, .5);
    border-radius: 10px;
    
    @media only screen and (max-width: 600px) {
      max-width: 300px;
      height: 450px;
      flex-direction: column;
    }
  }
.image{
  margin-top: 0.6em;
}

.details{
    position: relative;
    text-transform: none;
    letter-spacing: 0;
    margin: auto;
    font-size: .7em;
    line-height: 1.6em;
    text-align: justify;
    display: flex;
    flex-direction: column;

    .btn{
        position: relative;
        margin-top: 4em;
        width: 15em;

        button {
            position: absolute;
            background: darken(#3c3c3b, 10%);
            padding: 10px;
            display: inline-block;
            outline: 0;
            border: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            border-radius: 2px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #f1f3f5;
            cursor: pointer;
                &:hover {
                background: lighten(#3c3c3b, 20%);
                transition: all .4s ease-in-out;
                }
    }
  }
}